/* Colors */
:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --basic-white: #FFFFFF;
  --special-yellow-dark: #f0c52e;
  --special-yellow: #f7e296;
  --special-green:#91c92f;
}
/* Fonts */

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Open Sans";

  src: local("Open Sans"),
  url("../fonts/OpenSans-Light.ttf") format("truetype");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Gilroy";

  src: local("Gilroy"),
  url("../fonts/Gilroy-ExtraBold.otf") format("opentype");
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

  background-color: #f2f2f2;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}
/* Класс скрывающий доступно */
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}
/* Page */
.page {
  display: grid;
  padding-top: 40px;

  background-color: var(--basic-white);

  grid-template-rows: min-content 1fr min-content;
}
/* Page header */
.page-header {
  position: relative;

  width: 1160px;
  margin: 0 auto;
  padding-top: 30px;
  padding-right: 40px;
  padding-bottom: 35px;
  padding-left: 50px;

  color: var(--basic-black);

  background-color: var(--special-yellow);
}

.page-header__logo {
  position: absolute;
  top: -20px;
  left: 60px;
}

.page-header__logo:hover {
  opacity: 0.6;
}

.page-header__logo:active {
  opacity: 0.3;
}

.page-header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;

  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
}

.page-header__search-form {
  margin-right: 84px;
  margin-left: 10px;
}
/* Search-Form */
.search-form {
  position: relative;

  display: flex;
  width: 440px;
  min-height: 50px;
}

.search-form::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 0;

  width: 16px;
  height: 16px;

  background-image: url(../img/icon_search.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.search-form__input {
  min-width: 355px;
  margin: 0;
  padding: 15px;
  padding-bottom: 15px;
  padding-left: 40px;

  background-color: var(--special-yellow);
  border: none;
  border-radius: 0;
}

.search-form__button {
  position: relative;
  z-index: -1;

  display: block;
  padding: 14px;

  text-transform: uppercase;

  background-color: inherit;
  border: 2px solid var(--basic-black);
  border-radius: 0;
}

.search-form__button:focus,
.search-form__input:focus ~ .search-form__button {
  z-index: 0;
}

.search-form__button:hover {
  color: var(--basic-white);

  background-color: var(--basic-black);
}

.search-form__button:active .search-form__search-text {
  opacity: 0.3;
}

.search-form__input:focus {
  outline: none;
  box-shadow: inset 0 -2px 0 var(--basic-black);
}
/* Login block */
.page-header__user {
  display: flex;
}
/* Cart - Chart */
.page-header__services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 253px;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.page-header__link {
  position: relative;

  padding: 15px;
  padding-right: 20px;
  padding-left: 40px;
}

.page-header__link:hover {
  opacity: 0.6;
}

.page-header__link:active {
  opacity: 0.3;
}

.page-header__link::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 15px;

  width: 16px;
  height: 16px;

  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.page-header__link--user::before {
  background-image: url(../img/icon_user.svg);
}

.page-header__link--chart::before {
  background-image: url(../img/icon_chart.svg);
}

.page-header__link--cart::before {
  background-image: url(../img/icon_cart.svg);
}
/* Header Nav */
.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0;
  padding: 0;

  list-style: none;
}

.nav-list__item {
  padding: 15px;
  padding-right: 17px;
  padding-left: 17px;

  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", "Tahoma", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.nav-list__item:last-of-type {
  margin-left: 74px;
}

.nav-list__item:hover {
  opacity: 0.6;
}

.nav-list__item:active {
  opacity: 0.3;
}

.nav-list__item--open {
  position: relative;

  margin-right: auto;
  padding-right: 54px;
  padding-left: 10px;

  letter-spacing: 0.1em;
}

.nav-list__item--open::before {
  content: "";
  position: absolute;
  top: 15px;
  right: 17px;

  width: 22px;
  height: 22px;

  background-image: url(../img/icon_plus.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.nav-list__sub-list {
  position: absolute;
  top: 60px;
  left: -60px;

  margin: 0;
  padding: 0;

  list-style: none;

  background-color: var(--special-yellow);
}

.nav-list__sub-item {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  text-transform: none;
  letter-spacing: normal;
}

.nav-list__wrapper {
  display: none;
}

.nav-list__item--open:hover .nav-list__wrapper,
.nav-list__item--open:focus-within .nav-list__wrapper {
  display: block;
}

/* Sub menu */

/* Page footer */
.page-footer {
  background-color: var(--basic-dark);
}

.page-footer__container {
  position: relative;

  display: grid;
  width: 1160px;
  margin: 0 auto;
  padding-top: 45px;
  padding-right: 0;
  padding-bottom: 40px;
  padding-left: 0;

  color: var(--basic-white);

  background-color: var(--basic-dark);

  grid-template-columns: 1fr 450px 1fr;
  grid-template-rows: repeat(3, minmax(80px, 1fr));
}

.page-footer__container::after {
  content: "";
  position: absolute;
  top: 239px;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: var(--special-yellow-dark);
}

.page-footer__logo {
  padding-top: 19px;

  grid-column: 1/2;
  justify-self: start;
}

.page-footer__logo:hover {
  opacity: 0.6;
}

.page-footer__logo:active {
  opacity: 0.3;
}

.page-footer__address,
.page-footer__phone {
  padding: 0;
  padding-top: 14px;
  padding-bottom: 14px;

  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: var(--basic-white);
}

.page-footer__address {
  grid-column: 1/2;
  grid-row: 2/3;
}

.page-footer__phone {
  grid-column: 3/4;
  grid-row: 2/3;
  justify-self: end;
}

.page-footer__menu {
  grid-column: 2/4;
  grid-row: 1/2;
  justify-self: end;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-menu__item {
  padding: 0;
  padding-left: 30px;

  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: var(--basic-white);
}

.footer-menu__item:not(:last-of-type) {
  margin-right: 35px;
}

.footer-menu__link {
  position: relative;

  opacity: 0.7;
}

.footer-menu__link:hover {
  opacity: 1;
}

.footer-menu__link:active {
  opacity: 0.3;
}

.footer-menu__link::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -25px;

  width: 16px;
  height: 16px;

  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer-menu__link--user::before {
  background-image: url(../img/icon_user-footer.svg);
}

.footer-menu__link--chart::before {
  background-image: url(../img/icon_chart-footer.svg);
}

.footer-menu__link--cart::before {
  background-image: url(../img/icon_cart-footer.svg);
}

.page-footer__services {
  grid-column: 2/3;
  grid-row: 2/3;
}

.footer-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 12px;

  list-style: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  font-family: "Gilroy", "Tahoma", sans-serif;
  text-transform: uppercase;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.footer-services__item {
  margin: 0;
  padding: 0 11px;
}

.footer-services__link:hover {
  opacity: 0.6;
}

.footer-services__link:active {
  opacity: 0.3;
}

.page-footer__socials {
  grid-column: 2/3;
  grid-row: 3/4;
  justify-self: center;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 156px;
  margin: 0;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;

  list-style: none;
}

.socials__link:hover path {
  fill-opacity: 0.6;
}

.socials__link:active path {
  fill-opacity: 0.1;
}

.page-footer__academy-logo {
  padding-top: 20px;

  grid-column: 3/4;
  justify-self: end;
}

.page-footer__academy-logo:hover path {
  fill-opacity: 0.6;
}

.page-footer__academy-logo:active path {
  fill-opacity: 0.3;
}


/* Page main index */

/* Page main catalog */

