/* Colors */
:root {
  --basic-black: #000000;
  --basic-dark: #363636;
  --basic-grey: #464646;
  --basic-half-grey: #7e7e7e;
  --basic-grey-light: #e5e5e5;
  --basic-white: #FFFFFF;
  --special-yellow-dark: #f0c52e;
  --special-yellow: #f7e296;
  --special-green:#91c92f;

  --basic-font: "Open Sans", "Arial", sans-serif;
  --bold-font: "Gilroy", "Tahoma", sans-serif;
}
/* Fonts */

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Open Sans";

  src: local("Open Sans"),
  url("../fonts/opensanslight.woff2") format("woff2"),
  url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Gilroy";

  src: local("Gilroy"),
  url("../fonts/gilroylight.woff2") format("woff2"),
  url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 800;
  font-family: "Gilroy";

  src: local("Gilroy"),
  url("../fonts/gilroyextrabold.woff2") format("woff2"),
  url("../fonts/gilroyextrabold.woff") format("woff");
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}
/* Класс скрывающий доступно */
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

/* Button */

.button {
  display: block;
  width: 260px;
  padding: 10px;

  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  font-family: var(--bold-font);
  text-align: center;
  color: var(--basic-black);
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-image: linear-gradient(var(--special-yellow-dark), var(--special-yellow-dark));
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 8px;
}

.button:hover,
.button:focus {
  background-color: var(--special-yellow-dark);
}

.button:active span {
  opacity: 0.3;
}

/* Page */
.page {
  display: grid;
  min-width: 1200px;
  margin: 0;
  padding-top: 40px;

  background-color: var(--basic-white);

  grid-template-rows: min-content 1fr min-content;
}
/* Page header */
.page-header {
  position: relative;

  width: 1160px;
  margin: 0 auto;
  padding-top: 30px;
  padding-right: 40px;
  padding-bottom: 35px;
  padding-left: 50px;

  color: var(--basic-black);

  background-color: var(--special-yellow);
}

.page-header--index {
  margin-bottom: -15px;
}

.page-header__logo {
  position: absolute;
  top: -20px;
  left: 60px;
}

.page-header__logo:hover {
  opacity: 0.6;
}

.page-header__logo:active {
  opacity: 0.3;
}

.page-header__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;

  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  font-family: var(--basic-font);
}

.page-header__search-form {
  margin-right: 84px;
  margin-left: 10px;
}
/* Search-Form */
.search-form {
  position: relative;

  display: flex;
  width: 440px;
  min-height: 50px;
}

.search-form__label::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 0;

  width: 16px;
  height: 16px;

  background-image: url(../img/icon_search.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.search-form__input {
  min-width: 355px;
  margin: 0;
  padding: 15px;
  padding-left: 40px;

  background-color: var(--special-yellow);
  border: none;
  border-radius: 0;
}

.search-form__button {
  position: relative;
  z-index: -1;

  display: block;
  padding: 14px;

  text-transform: uppercase;

  background-color: inherit;
  border: 2px solid var(--basic-black);
  border-radius: 0;
}

.search-form__button:focus,
.search-form__input:focus ~ .search-form__button {
  z-index: 0;
}

.search-form__button:hover {
  color: var(--basic-white);

  background-color: var(--basic-black);
}

.search-form__button:active .search-form__search-text {
  opacity: 0.3;
}

.search-form__input:focus {
  outline: none;
  box-shadow: inset 0 -2px 0 var(--basic-black);
}

/* Login block */
.page-header__user {
  display: flex;
}
/* Cart - Chart */
.page-header__services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 253px;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.page-header__link {
  position: relative;

  padding: 15px;
  padding-right: 20px;
  padding-left: 40px;
}

.page-header__link:hover {
  opacity: 0.6;
}

.page-header__link:active {
  opacity: 0.3;
}

.page-header__link::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 15px;

  width: 16px;
  height: 16px;

  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.page-header__link--user::before {
  background-image: url(../img/icon_user.svg);
}

.page-header__link--chart::before {
  background-image: url(../img/icon_chart.svg);
}

.page-header__link--cart::before {
  background-image: url(../img/icon_cart.svg);
}
/* Header Nav */
.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  margin: 0;
  padding: 0;

  list-style: none;
}

.nav-list__item {
  padding: 15px;
  padding-right: 17px;
  padding-left: 17px;

  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  font-family: var(--bold-font);
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.nav-list__item:last-of-type {
  margin-left: 74px;
}

.nav-list__item:hover > a {
  opacity: 0.6;
}

.nav-list__item:active > a {
  opacity: 0.3;
}

.nav-list__item--open {
  position: relative;

  margin-right: auto;
  padding-right: 54px;
  padding-left: 10px;

  letter-spacing: 0.1em;
}

.nav-list__item--open::before {
  content: "";
  position: absolute;
  top: 15px;
  right: 17px;

  width: 22px;
  height: 22px;

  background-image: url(../img/icon_plus.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.nav-list__sub-list {
  position: absolute;
  top: 47px;
  left: -50px;
  z-index: 1;

  display: grid;
  width: 1160px;
  min-height: 154px;
  margin: 0;
  padding-top: 20px;
  padding-right: 60px;
  padding-bottom: 35px;
  padding-left: 60px;

  list-style: none;

  background-color: var(--special-yellow);

  grid-column-gap: 65px;
  grid-row-gap: 10px;
  grid-template-columns: repeat(3, max-content);
}

.nav-list__sub-item {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  font-family: var(--basic-font);
  text-transform: none;
  letter-spacing: normal;
}

.nav-list__sub-item:last-of-type {
  grid-row: 3/4;
}

.nav-list__sub-item:hover > a {
  opacity: 0.6;
}

.nav-list__sub-item:active > a {
  opacity: 0.3;
}
/* Прячем меню */

.nav-list__wrapper {
  display: none;
}

.nav-list__item--open:hover > .nav-list__wrapper,
.nav-list__item--open:focus-within > .nav-list__wrapper {
  display: block;
}

/* Page footer */
.page-footer {
  background-color: var(--basic-dark);
}

.page-footer__container {
  position: relative;

  display: grid;
  width: 1160px;
  margin: 0 auto;
  padding-top: 45px;
  padding-right: 0;
  padding-bottom: 40px;
  padding-left: 0;

  color: var(--basic-white);

  background-color: var(--basic-dark);

  grid-template-columns: 1fr 450px 1fr;
  grid-template-rows: repeat(3, minmax(80px, 1fr));
}

.page-footer__container::after {
  content: "";
  position: absolute;
  top: 239px;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: var(--special-yellow-dark);
}

.page-footer__logo {
  padding-top: 19px;

  grid-column: 1/2;
  justify-self: start;
}

.page-footer__logo:hover {
  opacity: 0.6;
}

.page-footer__logo:active {
  opacity: 0.3;
}

.page-footer__address,
.page-footer__phone {
  padding: 0;
  padding-top: 14px;
  padding-bottom: 14px;

  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  font-family: var(--basic-font);
  color: var(--basic-white);
}

.page-footer__address {
  grid-column: 1/2;
  grid-row: 2/3;
}

.page-footer__phone {
  grid-column: 3/4;
  grid-row: 2/3;
  justify-self: end;
}

.page-footer__menu {
  grid-column: 2/4;
  grid-row: 1/2;
  justify-self: end;
}

.footer-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-menu__item {
  padding: 0;
  padding-left: 30px;

  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  font-family: var(--basic-font);
  color: var(--basic-white);
}

.footer-menu__item:not(:last-of-type) {
  margin-right: 35px;
}

.footer-menu__link {
  position: relative;

  opacity: 0.7;
}

.footer-menu__link:hover {
  opacity: 1;
}

.footer-menu__link:active {
  opacity: 0.3;
}

.footer-menu__link::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -25px;

  width: 16px;
  height: 16px;

  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.footer-menu__link--user::before {
  background-image: url(../img/icon_user-footer.svg);
}

.footer-menu__link--chart::before {
  background-image: url(../img/icon_chart-footer.svg);
}

.footer-menu__link--cart::before {
  background-image: url(../img/icon_cart-footer.svg);
}

.page-footer__services {
  grid-column: 2/3;
  grid-row: 2/3;
}

.footer-services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-top: 13px;
  padding-bottom: 12px;

  list-style: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  font-family: var(--bold-font);
  text-transform: uppercase;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.footer-services__item {
  margin: 0;
  padding: 0 11px;
}

.footer-services__link:hover {
  opacity: 0.6;
}

.footer-services__link:active {
  opacity: 0.3;
}

.page-footer__socials {
  grid-column: 2/3;
  grid-row: 3/4;
  justify-self: center;
}

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 156px;
  margin: 0;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 20px;

  list-style: none;
}

.socials__link:hover path {
  fill-opacity: 0.6;
}

.socials__link:active path {
  fill-opacity: 0.1;
}

.page-footer__academy-logo {
  padding-top: 20px;

  grid-column: 3/4;
  justify-self: end;
}

.page-footer__academy-logo:hover path {
  fill-opacity: 0.6;
}

.page-footer__academy-logo:active path {
  fill-opacity: 0.3;
}


/* Page main index */

.page-main {
  margin: 0 auto;

  background-color: var(--basic-white);
}

/* Слайдер */

.page-main__slider {
  margin-bottom: 76px;
}

.slider {
  position: relative;
  z-index: 0;

  width: 1160px;
  min-height: 520px;
  margin: 0 auto;
  margin-bottom: 65px;

  background-image: linear-gradient(to bottom,
  var(--special-yellow),
  var(--special-yellow) 130px,
  var(--basic-white) 120px);
}

.slider__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slider__inner {
  display: grid;

  grid-column-gap: 40px;
  grid-template-columns: 1fr 1fr;
}

.slider__image {
  display: block;
}

.slider__image--1 {
  margin: 0 auto;
}

.slider__image--2 {
  margin-top: 25px;
  margin-left: 117px;
}

.slider__image--3 {
  margin-top: 82px;
  margin-left: 30px;
}

.slider__description {
  padding-top: 93px;
  padding-right: 20px;
}

.slider__heading {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;

  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  font-family: var(--bold-font);
  color: var(--basic-black);
}

.slider__paragraph {
  margin: 0;
  margin-bottom: 51px;
  padding: 0;

  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  font-family: var(--basic-font);
  color: var(--basic-black);
}

.button--slider {
  width: 220px;
  margin-bottom: 50px;
  padding-left: 15px;
}

.slider__stats {
  display: grid;
  margin: 0;
  padding: 0;

  grid-column-gap: 62px;
  grid-row-gap: 15px;
  grid-template-columns: repeat(3, max-content);
}

.slider__stats--quadro {
  grid-column-gap: 27px;
}

.slider__stats dt {
  margin: 0;
  padding: 0;

  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  font-family: var(--bold-font);
  letter-spacing: 0.1em;

  grid-row: 2/3;
}

.slider__stats dd {
  margin: 0;
  padding: 0;

  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  font-family: var(--bold-font);
  letter-spacing: 0.1em;
}

.slider__container {
  position: relative;

  display: none;
}

.slider__container::before {
  content: "";
  position: absolute;
  top: 35px;
  left: calc(50% + 20px);

  width: 100px;
  height: 7px;

  background-color: var(--basic-white);
}

.slider__container::after {
  content: "01";
  position: absolute;
  top: -17px;
  right: 47px;
  z-index: -1;

  font-style: normal;
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  font-family: var(--bold-font);
  color: var(--basic-white);
  text-transform: uppercase;
}

.slider__container:nth-child(2)::after {
  content: "02";
  right: 53px;
}

.slider__container:nth-child(3)::after {
  content: "03";
  right: 53px;
}

/* Переключатели */
.slider__controls {
  position: absolute;
  top: 339px;
  right: 88px;
  z-index: 1;

  display: flex;
  justify-content: space-between;
  width: 72px;
  margin: 0;
  padding: 0;
}

.slider__button {
  position: relative;

  display: block;
  width: 12px;
  height: 12px;

  border: 1px solid var(--basic-black);
  border-radius: 50%;
  cursor: pointer;
}

#slide-1:focus-within ~ .slider__controls .slider__button--1,
#slide-2:focus-within ~ .slider__controls .slider__button--2,
#slide-3:focus-within ~ .slider__controls .slider__button--3,
#slide-1:hover ~ .slider__controls .slider__button--1,
#slide-2:hover ~ .slider__controls .slider__button--2,
#slide-3:hover ~ .slider__controls .slider__button--3 {
  box-shadow: 0 0 2px 2px var(--basic-black);
}

#slide-1:checked ~ .slider__controls .slider__button--1::before,
#slide-2:checked ~ .slider__controls .slider__button--2::before,
#slide-3:checked ~ .slider__controls .slider__button--3::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 6px;
  height: 6px;

  border: 1px solid var(--basic-black);
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#slide-1:checked ~ .slider__list .slider__container:nth-child(1) {
  display: block;
}

#slide-2:checked ~ .slider__list .slider__container:nth-child(2) {
  display: block;
}

#slide-3:checked ~ .slider__list .slider__container:nth-child(3) {
  display: block;
}

/* Популярные товары */
.page-main__popular {
  padding-bottom: 20px;
}

.popular {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 35px;
  padding-top: 20px;

  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  font-family: var(--bold-font);
  color: var(--basic-black);
  letter-spacing: 0.05em;

  background-color: var(--basic-white);
}

.popular__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.popular__link:hover .popular__image,
.popular__link:focus .popular__image {
  background-color: var(--special-yellow-dark);
}

.popular__link:active path,
.popular__link:active .popular__title {
  opacity: 0.3;
}

.popular__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
  margin: 0;
  margin-bottom: 38px;
  padding: 0;

  background-color: var(--special-yellow);
}

.popular__title {
  max-width: 160px;
}

.popular__title---fitness {
  letter-spacing: normal;
}
/* Слайдер сервисов */

.services {
  position: relative;
  width: 1160px;
  min-height: 400px;
  margin: 0 auto;
  margin-bottom: 90px;
  padding: 0;
  background-image: linear-gradient(to top,
  var(--basic-grey-light),
  var(--basic-grey-light) 288px,
  var(--basic-white) 288px);
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 24px;
}

.services::before {
  content: "";
  position: absolute;
  height: 288px;
  width: 100vw;
  min-width: 1200px;
  bottom: 0;
  left: 50%;
  background-color: var(--basic-grey-light);
  z-index: -1;
  transform: translateX(-50%);
}
/* Переключатель */

.services__controls {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-top: 91px;
  position: relative;
}

.services__controls li:not(:last-child) {
  margin-bottom: 20px;
}

.services__controls::before {
  content: "";
  position: absolute;
  right: 0;
  top: 11px;
  width: 7px;
  height: 320px;
  background-color: var(--basic-black);

}

.services__button {
  width: 160px;
  position: relative;
}

.services__button:active {
  color: var(--special-yellow);
  background-image: none;
  background-color: var(--basic-black);
}

.services__button:active::before {
  content: "";
  width: 120px;
  height: 41px;
  background-color: var(--basic-black);
  position: absolute;
  left: 100%;
  top: 0;
}

.services__button--current {
  color: var(--special-yellow);
  background-image: none;
  background-color: var(--basic-black);
}

.services__button--current::before {
  content: "";
  width: 120px;
  height: 41px;
  background-color: var(--basic-black);
  position: absolute;
  left: 100%;
  top: 0;
}

.services__button--current:hover {
  background-color: var(--basic-black)
}

.services__button--current:focus {
  outline: 3px solid var(--special-yellow);
  background-color: var(--basic-black)
}

.services__button--current:focus::before {
  box-shadow: 0 3px 0 0 var(--special-yellow),
             0 -3px 0 0 var(--special-yellow);
}


/* Слайды */

.services__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services__container {
  display: none;
  position: relative;
  padding-left: 92px;
  padding-top: 83px;
  padding-right: 190px;
  padding-bottom: 20px;
}

.services__container::after {
  content: "";
  width: 200px;
  height: 220px;
  position: absolute;
  right: -20px;
  top: 50px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.services__container:nth-of-type(1)::after {
  background-image: url(../img/delivery.svg);
  background-position: 65% 60%;
}

.services__container:nth-of-type(2)::after {
  background-image: url(../img/warranty.svg);
  background-position: 87% 57%;
}

.services__container:nth-of-type(3)::after {
  background-image: url(../img/credit.svg);
  background-position: 37% 31%;
}

.services__container--current {
  display: block;
}

.services__title {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  font-family: var(--bold-font);
  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  letter-spacing: 0.2em;
  color: var(--basic-black);

}

.services__description {
  margin: 0;
  padding: 0;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 0.1em;
  color: var(--basic-black);
}

.services__description--waranty {
  line-height: 30px;
}
/* Логотипы */

.logos {
  width: 1160px;
  margin: 0 auto;
  padding: 0;
}

.page-main__logos {
  margin-bottom: 90px;
}

.logos__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.logos__item {
  position: relative;

  width: 260px;
  height: 100px;
  overflow: hidden;
}

.logos__image {
  position: absolute;
  top: 0;
  left: 0;
}

.logos__link:hover .logos__image,
.logos__link:focus .logos__image {
  top: -100px;
}

.page-main__container {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 76px;
}

/* О компании */

.info {
  position: relative;

  max-width: 560px;
  margin-right: auto;
  padding-top: 57px;
}

.info::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: var(--basic-black);
}

.info__title {
  margin: 0;
  margin-bottom: 40px;

  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  font-family: var(--bold-font);
  color: var(--basic-black);
  letter-spacing: 0.2em;
}

.info__text {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  font-family: var(--basic-font);
  color: var(--basic-black);
}

.info__text:last-of-type {
  margin-bottom: 60px;
}

.info__list {
  margin: 0;
  margin-bottom: 68px;
  padding: 0;

  list-style: none;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 28px;
  font-family: var(--bold-font);
}

.info__item {
  position: relative;

  padding-left: 32px;
}

.info__item:not(:last-of-type) {
  margin-bottom: 15px;
}

.info__item::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;

  width: 8px;
  height: 8px;

  border: 2px solid var(--basic-grey-light);
  border-radius: 50%;
}

.info__button {
  padding-left: 24px;

  text-align: left;
}

/* Контакты */

.contacts {
  position: relative;

  max-width: 560px;
  padding-top: 60px;
}

.contacts::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: var(--basic-black);
}

.contacts__title {
  margin: 0;
  margin-bottom: 38px;

  font-style: normal;
  font-weight: 800;
  font-size: 47px;
  line-height: 58px;
  font-family: var(--bold-font);
  color: var(--basic-black);
  letter-spacing: 0.2em;
}

.contacts__text {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 28px;
  font-family: var(--basic-font);
  color: var(--basic-black);
}

.contacts__link {
  display: block;
  margin: 0;
  margin-bottom: 71px;
  padding: 0;
}


/* Page main catalog */
